/* Configuração do estilo global dos componentes  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {

    background-color: #d9e6e4;
  }